<div id="<%= dom_id admin_setting %>">
  <p>
    <strong>Enable 2fa for admin sms:</strong>
    <%= admin_setting.enable_2fa_for_admin_sms %>
  </p>

  <p>
    <strong>Enable 2fa for admin email:</strong>
    <%= admin_setting.enable_2fa_for_admin_email %>
  </p>

  <p>
    <strong>Send password via sms:</strong>
    <%= admin_setting.send_password_via_sms %>
  </p>

  <p>
    <strong>Send password via email:</strong>
    <%= admin_setting.send_password_via_email %>
  </p>

  <p>
    <strong>Check inactive days:</strong>
    <%= admin_setting.check_inactive_days %>
  </p>

  <p>
    <strong>Check inactive hrs:</strong>
    <%= admin_setting.check_inactive_hrs %>
  </p>

  <p>
    <strong>Check inactive minutes:</strong>
    <%= admin_setting.check_inactive_minutes %>
  </p>

  <p>
    <strong>Enable 2fa for admin passkeys:</strong>
    <%= admin_setting.enable_2fa_for_admin_passkeys %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= admin_setting.account_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= admin_setting.user_id %>
  </p>

</div>
