<div id="<%= dom_id onu %>">
  <p>
    <strong>Serial number:</strong>
    <%= onu.serial_number %>
  </p>

  <p>
    <strong>Oui:</strong>
    <%= onu.oui %>
  </p>

  <p>
    <strong>Product class:</strong>
    <%= onu.product_class %>
  </p>

  <p>
    <strong>Manufacturer:</strong>
    <%= onu.manufacturer %>
  </p>

  <p>
    <strong>Onu:</strong>
    <%= onu.onu_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= onu.status %>
  </p>

  <p>
    <strong>Last inform:</strong>
    <%= onu.last_inform %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= onu.account_id %>
  </p>

  <p>
    <strong>Last boot:</strong>
    <%= onu.last_boot %>
  </p>

</div>
