<div id="<%= dom_id temporary_session %>">
  <p>
    <strong>Session:</strong>
    <%= temporary_session.session %>
  </p>

  <p>
    <strong>Ip:</strong>
    <%= temporary_session.ip %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= temporary_session.created_at %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= temporary_session.account_id %>
  </p>

</div>
