<div id="<%= dom_id company_lead %>">
  <p>
    <strong>Name:</strong>
    <%= company_lead.name %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= company_lead.company_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= company_lead.email %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= company_lead.message %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= company_lead.account_id %>
  </p>

</div>
