<div id="<%= dom_id ad %>">
  <p>
    <strong>Title:</strong>
    <%= ad.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= ad.description %>
  </p>

  <p>
    <strong>Business name:</strong>
    <%= ad.business_name %>
  </p>

  <p>
    <strong>Business type:</strong>
    <%= ad.business_type %>
  </p>

  <p>
    <strong>Offer text:</strong>
    <%= ad.offer_text %>
  </p>

  <p>
    <strong>Discount:</strong>
    <%= ad.discount %>
  </p>

  <p>
    <strong>Cat text:</strong>
    <%= ad.cat_text %>
  </p>

  <p>
    <strong>Background color:</strong>
    <%= ad.background_color %>
  </p>

  <p>
    <strong>Text color:</strong>
    <%= ad.text_color %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= ad.image %>
  </p>

  <p>
    <strong>Imagepreview:</strong>
    <%= ad.imagePreview %>
  </p>

  <p>
    <strong>Target url:</strong>
    <%= ad.target_url %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= ad.is_active %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= ad.account_id %>
  </p>

</div>
