<div id="<%= dom_id technician %>">
  <p>
    <strong>Email:</strong>
    <%= technician.email %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= technician.username %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= technician.phone_number %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= technician.password_digest %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= technician.account_id %>
  </p>

</div>
