<div id="<%= dom_id general_setting %>">
  <p>
    <strong>Title:</strong>
    <%= general_setting.title %>
  </p>

  <p>
    <strong>Timezone:</strong>
    <%= general_setting.timezone %>
  </p>

  <p>
    <strong>Allowed ips:</strong>
    <%= general_setting.allowed_ips %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= general_setting.account_id %>
  </p>

</div>
