<div id="<%= dom_id hotspot_mpesa_setting %>">
  <p>
    <strong>Account type:</strong>
    <%= hotspot_mpesa_setting.account_type %>
  </p>

  <p>
    <strong>Short code:</strong>
    <%= hotspot_mpesa_setting.short_code %>
  </p>

  <p>
    <strong>Consumer key:</strong>
    <%= hotspot_mpesa_setting.consumer_key %>
  </p>

  <p>
    <strong>Consumer secret:</strong>
    <%= hotspot_mpesa_setting.consumer_secret %>
  </p>

  <p>
    <strong>Passkey:</strong>
    <%= hotspot_mpesa_setting.passkey %>
  </p>

</div>
