<div id="<%= dom_id nas_router %>">
  <p>
    <strong>Name:</strong>
    <%= nas_router.name %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= nas_router.ip_address %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= nas_router.username %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= nas_router.password %>
  </p>

</div>
