<div id="<%= dom_id company_setting %>">
  <p>
    <strong>Company name:</strong>
    <%= company_setting.company_name %>
  </p>

  <p>
    <strong>Email info:</strong>
    <%= company_setting.email_info %>
  </p>

  <p>
    <strong>Contact info:</strong>
    <%= company_setting.contact_info %>
  </p>

  <p>
    <strong>Agent email:</strong>
    <%= company_setting.agent_email %>
  </p>

  <p>
    <strong>Customer support phone number:</strong>
    <%= company_setting.customer_support_phone_number %>
  </p>

  <p>
    <strong>Customer support email:</strong>
    <%= company_setting.customer_support_email %>
  </p>

</div>
