<div id="<%= dom_id subscriber_transaction %>">
  <p>
    <strong>Type:</strong>
    <%= subscriber_transaction.type %>
  </p>

  <p>
    <strong>Credit:</strong>
    <%= subscriber_transaction.credit %>
  </p>

  <p>
    <strong>Debit:</strong>
    <%= subscriber_transaction.debit %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= subscriber_transaction.date %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= subscriber_transaction.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= subscriber_transaction.description %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= subscriber_transaction.account_id %>
  </p>

</div>
