<p style="color: green"><%= notice %></p>

<%= render @subscriber_transaction %>

<div>
  <%= link_to "Edit this subscriber transaction", edit_subscriber_transaction_path(@subscriber_transaction) %> |
  <%= link_to "Back to subscriber transactions", subscriber_transactions_path %>

  <%= button_to "Destroy this subscriber transaction", @subscriber_transaction, method: :delete %>
</div>
