<div id="<%= dom_id email_setting %>">
  <p>
    <strong>Smtp host:</strong>
    <%= email_setting.smtp_host %>
  </p>

  <p>
    <strong>Smtp username:</strong>
    <%= email_setting.smtp_username %>
  </p>

  <p>
    <strong>Sender email:</strong>
    <%= email_setting.sender_email %>
  </p>

  <p>
    <strong>Smtp password:</strong>
    <%= email_setting.smtp_password %>
  </p>

  <p>
    <strong>Api key:</strong>
    <%= email_setting.api_key %>
  </p>

  <p>
    <strong>Domain:</strong>
    <%= email_setting.domain %>
  </p>

</div>
