<div id="<%= dom_id hotspot_mpesa_revenue %>">
  <p>
    <strong>Voucher:</strong>
    <%= hotspot_mpesa_revenue.voucher %>
  </p>

  <p>
    <strong>Payment method:</strong>
    <%= hotspot_mpesa_revenue.payment_method %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= hotspot_mpesa_revenue.amount %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= hotspot_mpesa_revenue.reference %>
  </p>

  <p>
    <strong>Time paid:</strong>
    <%= hotspot_mpesa_revenue.time_paid %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= hotspot_mpesa_revenue.account_id %>
  </p>

</div>
