<p style="color: green"><%= notice %></p>

<%= render @subscriber_wallet_balance %>

<div>
  <%= link_to "Edit this subscriber wallet balance", edit_subscriber_wallet_balance_path(@subscriber_wallet_balance) %> |
  <%= link_to "Back to subscriber wallet balances", subscriber_wallet_balances_path %>

  <%= button_to "Destroy this subscriber wallet balance", @subscriber_wallet_balance, method: :delete %>
</div>
