<div id="<%= dom_id activty_log %>">
  <p>
    <strong>Action:</strong>
    <%= activty_log.action %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= activty_log.subject %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= activty_log.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= activty_log.user %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= activty_log.date %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= activty_log.account_id %>
  </p>

</div>
