<div id="<%= dom_id event_title %>">
  <p>
    <strong>Start date time:</strong>
    <%= event_title.start_date_time %>
  </p>

  <p>
    <strong>End date time:</strong>
    <%= event_title.end_date_time %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= event_title.title %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= event_title.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= event_title.end %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= event_title.account_id %>
  </p>

</div>
