<p style="color: green"><%= notice %></p>

<%= render @event_title %>

<div>
  <%= link_to "Edit this event title", edit_event_title_path(@event_title) %> |
  <%= link_to "Back to event titles", event_titles_path %>

  <%= button_to "Destroy this event title", @event_title, method: :delete %>
</div>
