<div id="<%= dom_id hotspot_setting %>">
  <p>
    <strong>Phone number:</strong>
    <%= hotspot_setting.phone_number %>
  </p>

  <p>
    <strong>Hotspot name:</strong>
    <%= hotspot_setting.hotspot_name %>
  </p>

  <p>
    <strong>Hotspot info:</strong>
    <%= hotspot_setting.hotspot_info %>
  </p>

  <p>
    <strong>Hotspot banner:</strong>
    <%= hotspot_setting.hotspot_banner %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= hotspot_setting.account_id %>
  </p>

</div>
