<div id="<%= dom_id calendar_event %>">
  <p>
    <strong>Event title:</strong>
    <%= calendar_event.event_title %>
  </p>

  <p>
    <strong>Start date time:</strong>
    <%= calendar_event.start_date_time %>
  </p>

  <p>
    <strong>End date time:</strong>
    <%= calendar_event.end_date_time %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= calendar_event.title %>
  </p>

  <p>
    <strong>Start:</strong>
    <%= calendar_event.start %>
  </p>

  <p>
    <strong>End:</strong>
    <%= calendar_event.end %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= calendar_event.account_id %>
  </p>

</div>
