<div id="<%= dom_id ad_setting %>">
  <p>
    <strong>Enabled:</strong>
    <%= ad_setting.enabled %>
  </p>

  <p>
    <strong>To right:</strong>
    <%= ad_setting.to_right %>
  </p>

  <p>
    <strong>To left:</strong>
    <%= ad_setting.to_left %>
  </p>

  <p>
    <strong>To top:</strong>
    <%= ad_setting.to_top %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= ad_setting.account_id %>
  </p>

</div>
