<div id="<%= dom_id subscriber_invoice %>">
  <p>
    <strong>Item:</strong>
    <%= subscriber_invoice.item %>
  </p>

  <p>
    <strong>Due date:</strong>
    <%= subscriber_invoice.due_date %>
  </p>

  <p>
    <strong>Invoice date:</strong>
    <%= subscriber_invoice.invoice_date %>
  </p>

  <p>
    <strong>Invoice number:</strong>
    <%= subscriber_invoice.invoice_number %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= subscriber_invoice.amount %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= subscriber_invoice.status %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= subscriber_invoice.description %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= subscriber_invoice.quantity %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= subscriber_invoice.account_id %>
  </p>

</div>
