<div id="<%= dom_id hotspot_package %>">
  <p>
    <strong>Name:</strong>
    <%= hotspot_package.name %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= hotspot_package.price %>
  </p>

  <p>
    <strong>Download limit:</strong>
    <%= hotspot_package.download_limit %>
  </p>

  <p>
    <strong>Upload limit:</strong>
    <%= hotspot_package.upload_limit %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= hotspot_package.account_id %>
  </p>

  <p>
    <strong>Tx rate limit:</strong>
    <%= hotspot_package.tx_rate_limit %>
  </p>

  <p>
    <strong>Rx rate limit:</strong>
    <%= hotspot_package.rx_rate_limit %>
  </p>

  <p>
    <strong>Validity period units:</strong>
    <%= hotspot_package.validity_period_units %>
  </p>

  <p>
    <strong>Download burst limit:</strong>
    <%= hotspot_package.download_burst_limit %>
  </p>

  <p>
    <strong>Upload burst limitmikrotik:</strong>
    <%= hotspot_package.upload_burst_limitmikrotik_id %>
  </p>

  <p>
    <strong>Validity:</strong>
    <%= hotspot_package.validity %>
  </p>

</div>
