<div id="<%= dom_id system_admin_sm %>">
  <p>
    <strong>User:</strong>
    <%= system_admin_sm.user %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= system_admin_sm.message %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= system_admin_sm.status %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= system_admin_sm.date %>
  </p>

  <p>
    <strong>System user:</strong>
    <%= system_admin_sm.system_user %>
  </p>

</div>
