<%= form_with(model: hotspot_voucher) do |form| %>
  <% if hotspot_voucher.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hotspot_voucher.errors.count, "error") %> prohibited this hotspot_voucher from being saved:</h2>

      <ul>
        <% hotspot_voucher.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :voucher, style: "display: block" %>
    <%= form.text_field :voucher %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :expiration, style: "display: block" %>
    <%= form.datetime_field :expiration %>
  </div>

  <div>
    <%= form.label :speed_limit, style: "display: block" %>
    <%= form.text_field :speed_limit %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
