<div id="<%= dom_id hotspot_voucher %>">
  <p>
    <strong>Voucher:</strong>
    <%= hotspot_voucher.voucher %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= hotspot_voucher.status %>
  </p>

  <p>
    <strong>Expiration:</strong>
    <%= hotspot_voucher.expiration %>
  </p>

  <p>
    <strong>Speed limit:</strong>
    <%= hotspot_voucher.speed_limit %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= hotspot_voucher.phone %>
  </p>

</div>
