<p style="color: green"><%= notice %></p>

<%= render @hotspot_voucher %>

<div>
  <%= link_to "Edit this hotspot voucher", edit_hotspot_voucher_path(@hotspot_voucher) %> |
  <%= link_to "Back to hotspot vouchers", hotspot_vouchers_path %>

  <%= button_to "Destroy this hotspot voucher", @hotspot_voucher, method: :delete %>
</div>
