<%= form_with(model: ip_network) do |form| %>
  <% if ip_network.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ip_network.errors.count, "error") %> prohibited this ip_network from being saved:</h2>

      <ul>
        <% ip_network.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :network, style: "display: block" %>
    <%= form.text_field :network %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :ip_adress, style: "display: block" %>
    <%= form.text_field :ip_adress %>
  </div>

  <div>
    <%= form.label :account_id, style: "display: block" %>
    <%= form.number_field :account_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
