<div id="<%= dom_id ip_network %>">
  <p>
    <strong>Network:</strong>
    <%= ip_network.network %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= ip_network.title %>
  </p>

  <p>
    <strong>Ip adress:</strong>
    <%= ip_network.ip_adress %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= ip_network.account_id %>
  </p>

</div>
