<div id="<%= dom_id system_admin %>">
  <p>
    <strong>User name:</strong>
    <%= system_admin.user_name %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= system_admin.password_digest %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= system_admin.email %>
  </p>

  <p>
    <strong>Verification token:</strong>
    <%= system_admin.verification_token %>
  </p>

  <p>
    <strong>Email verified:</strong>
    <%= system_admin.email_verified %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= system_admin.role %>
  </p>

  <p>
    <strong>Fcm token:</strong>
    <%= system_admin.fcm_token %>
  </p>

  <p>
    <strong>Webauthn:</strong>
    <%= system_admin.webauthn_id %>
  </p>

  <p>
    <strong>Webauthn authenticator attachment:</strong>
    <%= system_admin.webauthn_authenticator_attachment %>
  </p>

  <p>
    <strong>Login with passkey:</strong>
    <%= system_admin.login_with_passkey %>
  </p>

</div>
