<div id="<%= dom_id subscription %>">
  <p>
    <strong>Name:</strong>
    <%= subscription.name %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= subscription.phone %>
  </p>

  <p>
    <strong>Package:</strong>
    <%= subscription.package %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= subscription.status %>
  </p>

  <p>
    <strong>Last subscribed:</strong>
    <%= subscription.last_subscribed %>
  </p>

  <p>
    <strong>Expiry:</strong>
    <%= subscription.expiry %>
  </p>

</div>
