<div id="<%= dom_id ip_binding %>">
  <p>
    <strong>Router:</strong>
    <%= ip_binding.router %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= ip_binding.name %>
  </p>

  <p>
    <strong>Package:</strong>
    <%= ip_binding.package %>
  </p>

  <p>
    <strong>Mac:</strong>
    <%= ip_binding.mac %>
  </p>

  <p>
    <strong>Ip:</strong>
    <%= ip_binding.ip %>
  </p>

  <p>
    <strong>Expiry:</strong>
    <%= ip_binding.expiry %>
  </p>

  <p>
    <strong>Device type:</strong>
    <%= ip_binding.device_type %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= ip_binding.account_id %>
  </p>

  <p>
    <strong>Router:</strong>
    <%= ip_binding.router_id %>
  </p>

</div>
