<div id="<%= dom_id access_point_setting %>">
  <p>
    <strong>Notification when unreachable:</strong>
    <%= access_point_setting.notification_when_unreachable %>
  </p>

  <p>
    <strong>Unreachable duration minutes:</strong>
    <%= access_point_setting.unreachable_duration_minutes %>
  </p>

  <p>
    <strong>Notification phone number:</strong>
    <%= access_point_setting.notification_phone_number %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= access_point_setting.account_id %>
  </p>

</div>
