<div id="<%= dom_id system_admin_email_setting %>">
  <p>
    <strong>Smtp host:</strong>
    <%= system_admin_email_setting.smtp_host %>
  </p>

  <p>
    <strong>Smtp username:</strong>
    <%= system_admin_email_setting.smtp_username %>
  </p>

  <p>
    <strong>Sender email:</strong>
    <%= system_admin_email_setting.sender_email %>
  </p>

  <p>
    <strong>Smtp password:</strong>
    <%= system_admin_email_setting.smtp_password %>
  </p>

  <p>
    <strong>Api keydomain:</strong>
    <%= system_admin_email_setting.api_keydomain %>
  </p>

  <p>
    <strong>System admin:</strong>
    <%= system_admin_email_setting.system_admin_id %>
  </p>

</div>
