<div id="<%= dom_id hotspot_and_dial_plan %>">
  <p>
    <strong>Expiry:</strong>
    <%= hotspot_and_dial_plan.expiry %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= hotspot_and_dial_plan.status %>
  </p>

  <p>
    <strong>Expiry days:</strong>
    <%= hotspot_and_dial_plan.expiry_days %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= hotspot_and_dial_plan.company_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= hotspot_and_dial_plan.name %>
  </p>

</div>
