<div id="<%= dom_id hotspot_subscription %>">
  <p>
    <strong>Voucher:</strong>
    <%= hotspot_subscription.voucher %>
  </p>

  <p>
    <strong>Ip address:</strong>
    <%= hotspot_subscription.ip_address %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= hotspot_subscription.start_time %>
  </p>

  <p>
    <strong>Up time:</strong>
    <%= hotspot_subscription.up_time %>
  </p>

  <p>
    <strong>Download:</strong>
    <%= hotspot_subscription.download %>
  </p>

  <p>
    <strong>Upload:</strong>
    <%= hotspot_subscription.upload %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= hotspot_subscription.account_id %>
  </p>

</div>
