<p style="color: green"><%= notice %></p>

<%= render @hotspot_subscription %>

<div>
  <%= link_to "Edit this hotspot subscription", edit_hotspot_subscription_path(@hotspot_subscription) %> |
  <%= link_to "Back to hotspot subscriptions", hotspot_subscriptions_path %>

  <%= button_to "Destroy this hotspot subscription", @hotspot_subscription, method: :delete %>
</div>
