<div id="<%= dom_id sm %>">
  <p>
    <strong>User:</strong>
    <%= sm.user %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= sm.message %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= sm.date %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= sm.status %>
  </p>

  <p>
    <strong>Admin user:</strong>
    <%= sm.admin_user %>
  </p>

  <p>
    <strong>System user:</strong>
    <%= sm.system_user %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= sm.account_id %>
  </p>

</div>
