<div id="<%= dom_id subscriber %>">
  <p>
    <strong>Name:</strong>
    <%= subscriber.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= subscriber.phone_number %>
  </p>

  <p>
    <strong>Ppoe username:</strong>
    <%= subscriber.ppoe_username %>
  </p>

  <p>
    <strong>Ppoe password:</strong>
    <%= subscriber.ppoe_password %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= subscriber.email %>
  </p>

  <p>
    <strong>Ppoe package:</strong>
    <%= subscriber.ppoe_package %>
  </p>

  <p>
    <strong>Date registered:</strong>
    <%= subscriber.date_registered %>
  </p>

  <p>
    <strong>Ref no:</strong>
    <%= subscriber.ref_no %>
  </p>

</div>
