<div id="<%= dom_id isp_subscription %>">
  <p>
    <strong>Account:</strong>
    <%= isp_subscription.account_id %>
  </p>

  <p>
    <strong>Next billing date:</strong>
    <%= isp_subscription.next_billing_date %>
  </p>

  <p>
    <strong>Payment status:</strong>
    <%= isp_subscription.payment_status %>
  </p>

  <p>
    <strong>Plan name:</strong>
    <%= isp_subscription.plan_name %>
  </p>

  <p>
    <strong>Features:</strong>
    <%= isp_subscription.features %>
  </p>

  <p>
    <strong>Renewal period:</strong>
    <%= isp_subscription.renewal_period %>
  </p>

  <p>
    <strong>Last payment date:</strong>
    <%= isp_subscription.last_payment_date %>
  </p>

</div>
