<div id="<%= dom_id system_admin_web_authn_credential %>">
  <p>
    <strong>Webauthn:</strong>
    <%= system_admin_web_authn_credential.webauthn_id %>
  </p>

  <p>
    <strong>Public key:</strong>
    <%= system_admin_web_authn_credential.public_key %>
  </p>

  <p>
    <strong>Sign count:</strong>
    <%= system_admin_web_authn_credential.sign_count %>
  </p>

  <p>
    <strong>System admin:</strong>
    <%= system_admin_web_authn_credential.system_admin_id %>
  </p>

</div>
