<div id="<%= dom_id pp_poe_mpesa_revenue %>">
  <p>
    <strong>Payment method:</strong>
    <%= pp_poe_mpesa_revenue.payment_method %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= pp_poe_mpesa_revenue.amount %>
  </p>

  <p>
    <strong>Reference:</strong>
    <%= pp_poe_mpesa_revenue.reference %>
  </p>

  <p>
    <strong>Time paid:</strong>
    <%= pp_poe_mpesa_revenue.time_paid %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= pp_poe_mpesa_revenue.account_id %>
  </p>

  <p>
    <strong>Account number:</strong>
    <%= pp_poe_mpesa_revenue.account_number %>
  </p>

</div>
