<p style="color: green"><%= notice %></p>

<%= render @pp_poe_mpesa_revenue %>

<div>
  <%= link_to "Edit this pp poe mpesa revenue", edit_pp_poe_mpesa_revenue_path(@pp_poe_mpesa_revenue) %> |
  <%= link_to "Back to pp poe mpesa revenues", pp_poe_mpesa_revenues_path %>

  <%= button_to "Destroy this pp poe mpesa revenue", @pp_poe_mpesa_revenue, method: :delete %>
</div>
