<div id="<%= dom_id access_point %>">
  <p>
    <strong>Name:</strong>
    <%= access_point.name %>
  </p>

  <p>
    <strong>Ping:</strong>
    <%= access_point.ping %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= access_point.status %>
  </p>

  <p>
    <strong>Checked at:</strong>
    <%= access_point.checked_at %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= access_point.account_id %>
  </p>

  <p>
    <strong>Ip:</strong>
    <%= access_point.ip %>
  </p>

  <p>
    <strong>Response:</strong>
    <%= access_point.response %>
  </p>

  <p>
    <strong>Reachable:</strong>
    <%= access_point.reachable %>
  </p>

</div>
