<div id="<%= dom_id template_location %>">
  <p>
    <strong>Name:</strong>
    <%= template_location.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= template_location.type %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= template_location.location %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= template_location.account_id %>
  </p>

</div>
