<div id="<%= dom_id support_ticket %>">
  <p>
    <strong>Issue description:</strong>
    <%= support_ticket.issue_description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= support_ticket.status %>
  </p>

  <p>
    <strong>Priority:</strong>
    <%= support_ticket.priority %>
  </p>

  <p>
    <strong>Agent:</strong>
    <%= support_ticket.agent %>
  </p>

  <p>
    <strong>Ticket number:</strong>
    <%= support_ticket.ticket_number %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= support_ticket.customer %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= support_ticket.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= support_ticket.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= support_ticket.phone_number %>
  </p>

  <p>
    <strong>Date created:</strong>
    <%= support_ticket.date_created %>
  </p>

  <p>
    <strong>Ticket category:</strong>
    <%= support_ticket.ticket_category %>
  </p>

  <p>
    <strong>Sequence number:</strong>
    <%= support_ticket.sequence_number %>
  </p>

  <p>
    <strong>Date closed:</strong>
    <%= support_ticket.date_closed %>
  </p>

  <p>
    <strong>Agent review:</strong>
    <%= support_ticket.agent_review %>
  </p>

  <p>
    <strong>Agent response:</strong>
    <%= support_ticket.agent_response %>
  </p>

  <p>
    <strong>Agent response:</strong>
    <%= support_ticket.agent_response %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= support_ticket.account_id %>
  </p>

  <p>
    <strong>Date of creation:</strong>
    <%= support_ticket.date_of_creation %>
  </p>

</div>
