<div id="<%= dom_id sms_setting %>">
  <p>
    <strong>Api key:</strong>
    <%= sms_setting.api_key %>
  </p>

  <p>
    <strong>Api secret:</strong>
    <%= sms_setting.api_secret %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= sms_setting.sender_id %>
  </p>

  <p>
    <strong>Short code:</strong>
    <%= sms_setting.short_code %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= sms_setting.username %>
  </p>

  <p>
    <strong>Accoun:</strong>
    <%= sms_setting.accoun_id %>
  </p>

</div>
