<div id="<%= dom_id company_financial_record %>">
  <p>
    <strong>Category:</strong>
    <%= company_financial_record.category %>
  </p>

  <p>
    <strong>Is intercompany:</strong>
    <%= company_financial_record.is_intercompany %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= company_financial_record.amount %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= company_financial_record.description %>
  </p>

  <p>
    <strong>Transaction type:</strong>
    <%= company_financial_record.transaction_type %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= company_financial_record.company %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= company_financial_record.date %>
  </p>

  <p>
    <strong>Counterparty:</strong>
    <%= company_financial_record.counterparty %>
  </p>

  <p>
    <strong>Account:</strong>
    <%= company_financial_record.account_id %>
  </p>

</div>
